.fancy-header ion-list {
	background: none;
	background-color: unset !important;
}

.fancy-header ion-item::part(native) {
	background-color: unset;
}

.select-wrapper#select-label {
	justify-content: center;
}
