LOCALIB_DB_HOST=
LOCALIB_DB_PORT=
LOCALIB_DB_NAME=
LOCALIB_DB_USER=
LOCALIB_DB_PASSWORD=
LOCALIB_CONNECTION_STRING="Server=localhost;Database=discoarchive;User=root;Password=password;"

LOCALIB_IMAGE_PATH=../Images
LOCALIB_DISCOGS_CONSUMER_KEY=
LOCALIB_DISCOGS_CONSUMER_SECRET=
LOCALIB_DISCOGS_CALLBACK_URL=http://localhost:8100/callback
