/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.info-banner {
	--min-height: 25px;
	--padding-top: 5px;
	--padding-bottom: 5px;
}

.info-banner ion-title {
	font-size: 12px;
}

/* Center iOS Tab bar when there's no Floating Action Button
https://github.com/rdlabo-team/ionic-theme-ios26/issues/73#issuecomment-3572019816 */
[data-theme="ios26"] ion-tabs:not(:has(.ion-page:not([aria-hidden="true"]) ion-fab)) ion-tab-bar.ios {
	left: 50% !important;
	transform: translateX(-50%) !important;
}
